:root {
    --color-header-orange: #ff6e08;
    --color-background-stripe-green: #fcffdd;
    --color-background-stripe-dark-green: #f5ffcc;
    --color-font-black: #000000;
    --color-roundal-white: #ffffff;
}